<form class="form" action="" method="get">
    <p><label for="id_sid">Sid:</label> <input type="text" name="sid" id="id_sid"></p>
<p><label for="id_name">Name:</label> <input type="text" name="name" id="id_name"></p>
<p><label for="id_ctype">Ctype:</label> <select name="ctype" id="id_ctype" multiple="multiple">
    {% for i in ctypes %}
    <option value="{{ i.ctype }}" {% if i.ctype|slugify in ctype %} selected {% endif %}>{{ i }}</option>
    {% endfor %}

</select></p>
<p><label for="id_ctype">Stat:</label> <select name="stat" id="id_stat" multiple="multiple">
        {% for i in stats %}
        <option value="{{ i }}" {% if i|slugify in stat %} selected {% endif %}>{{ i }}</option>
        {% endfor %}
    
    </select></p>
<p><label for="id_pay">Pay:</label> <select name="pay" id="id_pay" multiple="multiple">
        {% for i in pays %}
        <option value="{{ i.pay }}" {% if i.pay|slugify in pay %} selected {% endif %}>{{ i }}</option>
        {% endfor %}

</select></p>
<p><label for="id_bid">Bid:</label> <select name="bid" id="id_bid" multiple="multiple">
        {% for i in bids %}
        <option value="{{ i.bid }}" {% if i.bid in bid %} selected {% endif %}>{{ i }}</option>
        {% endfor %}

</select></p>
<p><label for="id_stlat">Lat is greater than or equal to:</label> <input type="number" name="stlat" value="33.5" step="any" id="id_stlat"></p>
<p><label for="id_enlat">Lat is less than or equal to:</label> <input type="number" name="enlat" value="33.6" step="any" id="id_enlat"></p>
<p><label for="id_stlng">Lng is greater than or equal to:</label> <input type="number" name="stlng" value="126.8" step="any" id="id_stlng"></p>
<p><label for="id_enlng">Lng is less than or equal to:</label> <input type="number" name="enlng" value="127" step="any" id="id_enlng"></p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>